link path=usr/bin/ecsc-solo target=<%= projectdir %>/bin/ecsc-solo
link path=usr/bin/ecsc-client target=<%= projectdir %>/bin/ecsc-client
link path=usr/bin/ecsc-apply target=<%= projectdir %>/bin/ecsc-apply
link path=usr/bin/ecsc-shell target=<%= projectdir %>/bin/ecsc-shell
link path=usr/bin/knife target=<%= projectdir %>/bin/knife
link path=usr/bin/ohai target=<%= projectdir %>/bin/ohai
